<%= form_for([contact.company, contact], html: {class: "form-horizontal"}) do |f| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :position, "Posición", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :position, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :phone, "Teléfono Fijo", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :phone, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :cellphone, "Teléfono Móvil", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :cellphone, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :email, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :other_email, "Email 2", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :other_email, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :contact_type, "Contacto Para", class: "col-lg-2 control-label" %>
    <div class="col-lg-10 checkbox-activity-type">
      <%= f.collection_check_boxes(:contact_type_ids, ContactType.all, :id, :name, {}, {:class => ''}) %>
    </div>
  </div>

  <div class="hr-line-dashed"></div>

  <div class="form-group actions">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
