<p id="notice"><%= notice %></p>

<div class="ibox float-e-margins m-t">

  <div class="ibox-title">
    <h3>Contactos</h3>
    <h4><%= @company.name %></h4>
  </div>

  <div class="ibox-content">

    <table class="table table-striped m-t">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Posición</th>
          <th>Email</th>
          <th>Contacto Para</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody>
        <% @contacts.each do |contact| %>
          <tr class="border-left-right">
            <td><%= contact.name %></td>
            <td><%= contact.position %></td>
            <td><%= contact.email %></td>
            <td>
              <%
              arr_contact_types = []
              contact.contact_types.each do |contact_type|
                arr_contact_types << contact_type.name
              end
              str_contact_types = arr_contact_types.join(", ")
              %>
              <%= str_contact_types %>
            </td>
            <td class="font-awesome-14">
            <%= link_to '<i class="fa fa-plus-square"></i>'.html_safe, [contact.company, contact], class: "m-r-sm" %> 
            <%= link_to '<i class="fa fa-edit"></i>'.html_safe, edit_company_contact_path(contact.company, contact), class: "m-l-sm m-r-sm" %>
            <%= link_to '<i class="fa fa-trash"></i>'.html_safe, [contact.company, contact], method: :delete, data: { confirm: 'Estás seguro?' }, class: "m-l-sm" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'Nuevo Contacto', new_company_contact_path %> | 
    <%= link_to 'Regresar', companies_path %>

  </div>

</div>
