<div class="ibox float-e-margins m-t">
  <div class="ibox-title">
    <h3>Nuevo Contacto</h3>
    <h4><%= @company.name %></h4>
  </div>

  <div class="ibox-content">

	<%= render 'form', contact: @contact %>

	<%= link_to 'Regresar', company_contacts_path %>

  </div>
</div>
