<div class="ibox float-e-margins m-t">
  <div class="ibox-title">
    <h3>Contacto</h3>
  </div>

  <div class="ibox-content">

    <p id="notice"><%= notice %></p>

    <%= form_tag("", class: 'form-horizontal') do %>
      <div class="form-group">
        <%= label_tag :name, "Nombre", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :name, @contact.name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :position, "Posición", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :position, @contact.position, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :phone, "Teléfono Fijo", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :phone, @contact.phone, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :cellphone, "Teléfono Móvil", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :cellphone, @contact.cellphone, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :email, "Email", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :email, @contact.email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :other_email, "Email 2", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :other_email, @contact.other_email, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :contact_types, "Contacto Para", class: "col-lg-2 control-label" %>
        <%
        arr_contact_types = []
        @contact.contact_types.each do |contact_type|
          arr_contact_types << contact_type.name
        end
        str_contact_types = arr_contact_types.join(", ")
        %>
        <div class="col-lg-10">
        <%= text_field_tag :contact_types, str_contact_types, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :company, "Empresa", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :company, @contact.company.name, class: 'form-control' %>
        </div>
      </div>
    <% end %>

    <br>
    
    <%= link_to 'Editar', edit_company_contact_path(@contact.company, @contact) %> |
    <%= link_to 'Regresar', company_contacts_path(@contact.company) %>

  </div>
</div>