<%= form_for(company, html: {class: "form-horizontal"}) do |f| %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :ruc, "Ruc", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :ruc, :required => true, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, "Nombre", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :required => true, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :short_name, "Nombre Corto", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :short_name, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :trade_name, "Nombre Comercial", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :trade_name, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :address, "Dirección", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :address, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :email, "Email", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :email, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :website, "Sitio Web", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :website, class: "form-control input-sm" %>
    </div>
  </div>

  <div class="form-group form-inline">
    <%= f.label :foundation, "Fundación", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.date_select :foundation, {:start_year => Date.current.year, :end_year => 1970, prompt: { day: 'Escoger día', month: 'Escoger mes', year: 'Escoger año' }}, {class: "form-control"} %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :country, "País", class: "col-lg-2 control-label" %>
    <div class="col-lg-3">
      <%= f.collection_select(:country_id, Country.all, :id, :name, {}, {:class => 'form-control'}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :activity_type, "Tipo de Actividad", class: "col-lg-2 control-label" %>
    <div class="col-lg-10 checkbox-activity-type">
      <%= f.collection_check_boxes(:activity_type_ids, ActivityType.all, :id, :name, {}, {:class => ''}) %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :product_category, "Línea de Producto", class: "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.collection_select(:product_category_ids, ProductCategory.all, :id, :name, {}, {:multiple => true, :class => 'chosen-select-vd'}) %>
    </div>
  </div>

  <div class="hr-line-dashed"></div>
  
  <div class="form-group actions">
    <div class="col-lg-10 col-lg-offset-2">
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<% content_for :javascript do %>
<script type="text/javascript">
  $(document).ready(function() {
    $(".chosen-select-vd").chosen({
      disable_search_threshold: 10,
      no_results_text: "Oops, nothing found!",
      width: "100%"
    });
  });
</script>
<% end %>

