<div class="ibox float-e-margins m-t">
  <div class="ibox-title">
    <h3>Editar Empresa</h3>
  </div>

  <div class="ibox-content">

  <%= render 'form', company: @company %>
  
  <%= link_to 'Ver', @company %> |
  <%= link_to 'Regresar', companies_path %>

  </div>
</div>