<p id="notice"><%= notice %></p>

<div class="ibox float-e-margins m-t">

  <div class="ibox-title">
    <h3>Empresas</h3>
  </div>

  <div class="ibox-content">

    <h4>Seleccione los campos para generar un reporte</h4>
    
    <%= form_tag(export_companies_path, method: "post", class: 'form-horizontal') do %>
      
      <div class="form-group">
        <%= label_tag :country, "Pais", class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <%= collection_select(:company, :country_id, Country.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :activity_type, "Tipo de Actividad", class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <%= collection_select(:company, :activity_type_id, ActivityType.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :product_category, "Línea de Producto", class: "col-lg-2 control-label" %>
        <div class="col-lg-4">
          <%= collection_select(:company, :product_category_id, ProductCategory.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
      </div>

      <div class="hr-line-dashed"></div>
  
      <div class="form-group actions">
        <div class="col-lg-10 col-lg-offset-2">
          <%= button_tag "Exportar", class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>

    <br>

    <%= link_to 'Regresar', companies_path %>

  </div>

</div>