<p id="notice"><%= notice %></p>

<div class="ibox float-e-margins m-t">

  <div class="ibox-title">
    <h3>Empresas
    <%= link_to 'Nueva Empresa', new_company_path, class: "btn btn-primary btn-sm btn-outline m-l-lg" %>
    <button type="button" class="btn btn-danger btn-sm btn-outline" data-toggle="modal" data-target="#myModal">
        Cargar Archivos
    </button>
    <%= link_to 'Generar Reportes', export_companies_path, class: "btn btn-warning btn-sm btn-outline" %>
    </h3>
  </div>

  <div class="ibox-content">

    <%= form_tag(search_companies_path, method: "get", class: 'form-horizontal') do %>
      <div class="form-group">
        <div class="col-md-3">
        <%= collection_select(:company, :country_id, Country.all, :id, :name, {}, {:class => 'form-control'}) %>
        </div>
        <div class="col-md-7">
        <%= text_field_tag :search, "", placeholder: "Nombre de la empresa", class: 'form-control' %>
        </div>
        <div class="col-md-2">
        <%= button_tag "Buscar", class: 'btn btn-primary btn-block' %>
        </div>
      </div>
    <% end %>   
    
    <br>

    <div class="modal inmodal" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
              <div class="modal-header">
                <h4 class="modal-title">Cargar Archivos</h4>
                <small class="font-bold">Adjunta un archivo de excel en formato xls</small>
              </div>
              <div class="modal-body">
                <%= form_tag(import_companies_path, multipart: true, class: 'form-horizontal') do %>
                  <div class="form-group">
                    <div class="col-md-8">
                    <%= file_field_tag :file, :required => true %>
                    </div>
                    <div class="col-md-4">
                    <%= submit_tag "Importar", class: 'btn btn-primary' %>
                    </div>
                  </div>
                <% end %>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-white" data-dismiss="modal">Cancelar</button>
              </div>
          </div>
      </div>
    </div>

  </div>

</div>
