<div class="ibox float-e-margins m-t">
  <div class="ibox-title">
    <h3>Empresa</h3>
  </div>

  <div class="ibox-content">

    <p id="notice"><%= notice %></p>

    <%= form_tag("", class: 'form-horizontal') do %>
      <div class="form-group">
        <%= label_tag :ruc, "Ruc", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :ruc, @company.ruc, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :name, "Nombre", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :name, @company.name, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :short_name, "Nombre Corto", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :short_name, @company.short_name, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :trade_name, "Nombre Comercial", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :trade_name, @company.trade_name, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :address, "Dirección", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :address, @company.address, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :email, "Email", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :email, @company.email, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :website, "Sitio Web", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :website, @company.website, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :foundation, "Fundación", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :foundation, @company.foundation, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :country, "País", class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= text_field_tag :country, @company.country.name, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :activity_types, "Tipo de Actividad", class: "col-lg-2 control-label" %>
        <%
        arr_activity_types = []
        @company.activity_types.each do |activity|
          arr_activity_types << activity.name
        end
        str_activity_types = arr_activity_types.join(", ")
        %>
        <div class="col-lg-10">
        <%= text_field_tag :activity_types, str_activity_types, class: 'form-control input-sm' %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag :product_categories, "Línea de Producto", class: "col-lg-2 control-label" %>
        <%
        arr_product_categories = []
        @company.product_categories.each do |category|
          arr_product_categories << category.name
        end
        str_product_categories = arr_product_categories.join(", ")
        %>
        <div class="col-lg-10">
        <%= text_field_tag :product_categories, str_product_categories, class: 'form-control input-sm' %>
        </div>
      </div>
    <% end %>

    <br>

    <%= link_to 'Editar', edit_company_path(@company) %> |
    <%= link_to 'Regresar', companies_path %>
  
  </div>
</div>

